@import url('../../index.css');

/*=================== Mobile Navbar Styles ===================*/
.hero {
  min-height: 100vh; 
  display: flex;
  padding: 20vh 1rem 0 1rem;
}

.hero__container {
  text-align: center;
  max-width: 800px;
}

.hero__greeting {
  font-size: 0.9rem;
  font-weight: var(--font-semibold);
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.hero__title {
  font-size: 3.53rem;
  margin-bottom: 0.3rem;
  color: var(--title-color);
}

.hero__subtitle {
  font-size: 1.7rem;
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.engineer-text {
  background-image: linear-gradient(45deg, #43e97b, #38f9d7);
}

.mscs-text {
  background-image: linear-gradient(45deg, #f85091, #d538fc);
}

.veteran-text {
  background-image: linear-gradient(45deg, #50d1f8, #6d7dd8);
}

.hero__subtitle-container {
  min-height: 5.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__description {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  opacity: 0.9;
  margin-top: 0.3rem;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;             
}

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-weight: var(--font-semibold);
  color: var(--bg-color);
  background-color: var(--primary-color);
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-color: var(--primary-color);
  border-style: solid;
}

.btn-outline {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ==================== Tablet & Desktop Styles ====================== */
@media (min-width: 768px) {
  .hero__title {
    font-size: 6.5rem;
  }

  .hero__subtitle {
    font-size: 1.5rem;
    white-space: nowrap;   /* Add this to prevent subtitle from wrapping if it's long */
  }

  .hero__description {
    font-size: 1.1rem;
    max-width: 650px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }

  .hero__btn {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
}