@import url('../../index.css');

/*=================== Mobile Navbar Styles ===================*/
.hero {
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

.hero__container {
  text-align: center;
  max-width: 800px;
}

.hero__title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: var(--title-color); 
}

.hero__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.hero__description {
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  opacity: 0.9;
}

.hero__btn {
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

/* ==================== Tablet & Desktop Styles ====================== */
@media (min-width: 768px) {
  .hero__title {
    font-size: 6.5rem;
  }

  .hero__subtitle {
    font-size: 1.5rem;
  }

  .hero__description {
    font-size: 1.1rem;
    max-width: 650px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }

  .hero__btn {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
}