@import url('../../index.css');

/*=================== Mobile Navbar Styles ===================*/

.about {
    min-height: 120vh; 
    display: flex;
    padding: 17vh 1rem 0 1rem;
    justify-content: center;
    background-color: var(--secondary-bg-color);
}

.about__container {
    text-align: center;
    max-width: 800px;
    margin-bottom: 2rem;
}

.about__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
    text-decoration-line: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 19px;
    margin-top: -2rem;
}

.about__subtitle {
    font-size: 2.5rem;
    font-weight: var(--font-semibold);
    margin-top: 5rem;
    color: var(--title-color);
    text-decoration-line: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 19px;
}

.about__description {
    font-size: 1.25rem;
    line-height: 1.7;
    word-spacing: 0.7px;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.highlight-gold {
    color: var(--primary-color);
}

.highlight-gold:hover{
    text-shadow: 0px 0px 20px var(--primary-color);
}

.highlight-green {
    color: var(--secondary-color);
}

.about__education__container {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(45deg, #254357, #382c64);
    border-radius: 8px;
    padding: 1rem;
    font-weight: var(--font-normal);
}

.about__education__container:hover{
    box-shadow: 0px 0px 50px var(--primary-color);
    transition: ease-in-out 0.1s;
    background-image: url(../../assets/Seal_of_WGU.svg.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center left;
    overflow: hidden;
}

.first__education__container {
    margin-top: 2rem;
}

.first__education__container:hover{
    background-image: url(../../assets/Georgia-Tech-Logo-PNG-Photos.png);
}

.about__education__container h3 {
    font-size: 1.22rem;
    margin-bottom: 0.5rem;
    font-weight: var(--font-semibold);
}

.about__education__container h4 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: var(--font-semibold);
}

.about__education__container h5 {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
    font-weight: var(--font-normal);
}

.about__education__container p {
    font-size: 1.1rem;
    margin: 0.2rem 0;
    color: var(--primary-color);
    font-weight: var(--font-normal);
}

@media (min-width: 768px) {

}