/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL VARIABLES */
:root {
    /* THEME COLORS */
    --bg-primary: #0d0d0d;
    --logo-color: #66ffff;
    --text-primary: #f2f2f2;
    --text-secondary: #33334d;
    --effect-primary: #cc0000; /*for hover effects, gradient */
    --effect-secondary: #ffc400dc;  /*for hover effects, gradient */
    --button-bg: #1C1B1B;
}

* {
    /* CSS RESETS */
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html, body {
    /* FONT SETTINGS */
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text-primary);

    /* LAYOUT SETTINGS */
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
    background: var(--bg-primary);
}

/* SCROLLBAR SETTINGS */
body::-webkit-scrollbar {
    width: 0.20rem;
}

/*--------------------------------------------------------------*/

/* MEDIA QUERIES */

@media screen and (min-width: 770px) {
    .navbar-toggle {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .hero-greeting h1 {
        font-size: 100px;
    }
}
/*---------------------------------------------------------*/
/* NAVBAR */

nav{
    margin: 35px;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    height: 45px;
    width: 45px;
    cursor: pointer;
    opacity: 1;
}

.navbar-logo:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

.navbar-toggle {
    height: 45px;
    width: 55px;
    cursor: pointer;
    margin-left: auto;
    border-bottom: solid var(--logo-color) 1px;    opacity: 1;

}

.navbar-toggle:hover {
    opacity: 0.5;
    transition: 0.5s ease;


}

.nav-link {
    text-decoration: none;
}

.link-text {
    font-size: 14px;
}
/*------------------------------------------------*/

/* HERO SECTION */

#hero-section {
    height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    /*border: solid black; /*delete this*/
}

.hero-greeting {
    padding-bottom: 5rem;
}

.hero-greeting h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 4rem;
    padding: 5px;
    border-bottom: solid var(--logo-color) 1px;
}

.hero-greeting h2 {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1rem;
    color: var(--text-secondary);
}

.hero-greeting button {
    width: 130px;
    height: 30px;
    border-radius: 25px;
    border: solid var(--logo-color) 1px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--button-bg);
    outline: none;
}

.hero-greeting button:hover {
    background: linear-gradient(to left, var(--effect-secondary) 50%, var(--button-bg) 50%) right;
    background-size: 200%;
    background-position: -200%;
    transition: 0.8s ease-in-out;
}

/*----------------------------------------------------*/

/* ABOUT SECTION */

#about-section {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    flex-flow: column wrap;
    overflow: hidden;

    /*border: solid azure; /*delete this*/

}

.intro-container {
    margin: 3rem 1rem 3rem 1rem;
}

.intro-text {
    flex-flow: column wrap;
    margin: 0 auto;

    /*border: solid gold; /*delete this */
}

.intro-text h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 3.5rem;
    word-spacing: 0px;
}

.intro-text p {
    font-size: 17.5px;
    font-weight: 200;
    /*border: solid gold; /*delete this */
    padding-top: 1.5rem;
    line-height: 1.5;
    word-spacing: 1px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.intro-utd-link {
    color: var(--logo-color);
    text-decoration: none;
}

.intro-utd-link:hover {
    transition: 3s ease;
    text-decoration: underline var(--logo-color);
}
/*-----------------------------------------------*/
.intro-skills {
    display: flex;
    flex-flow: column;
    align-text: center;
}

.intro-skills h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 3.5rem;
    word-spacing: 0px;
    margin-top: 4rem;
}

.skills-icons {
    text-decoration: none;
    list-style: none;
}

.skills-icons li {
    opacity: 0.5;
}



/* ------------------------------------ */