/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL VARIABLES */
:root {
    /* THEME COLORS */
    --nav-primary: #191919; /* left navbar gradient */
    --nav-secondary: #181515; /* right navbar gradient */
    --bg-primary: #181717; /* left page gradient */
    --bg-secondary: #0c0f3b; /* right page gradient */
    --hover-color: #ff006a;
    --logo-gold: #ffc400dc;
    --text-primary: azure;
}

* {
    box-sizing: border-box;
}

html {
    /* FONT SETTINGS */
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: azure;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: linear-gradient(to right, #181717, #0c0f3b);
}

/* SCROLLBAR SETTINGS */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--nav-primary);
}

body:: -webkit-scrollbar-thumb {
    background: var(--logo-gold);
    border-radius: 10px;
}
/*--------------------------------------------------------------*/

/* NAVBAR */

nav{
    display: flex;
    margin-top: 1rem;
    max-height: 3rem;
    background-image: linear-gradient(to right, #191919, #181515)
}

.navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
    align-content: space-evenly;

}

.navbar-logo {
    height: 45px;
    width: 45px;
    font-size: 25px;
    margin: 0em;
    cursor: pointer;
}

.navbar-toggle {
    height: 35px;
    width: 35px;
    font-size: 30px;
    display:flex;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
}

.link-text {
    font-size: 14px;
}
/*---------------------------------------*/
/* WELCOME PAGE */
#welcome-page h1, p {
    color: orange;
}
