/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL VARIABLES */
:root {
    /* THEME COLORS */
    --bg-primary: #990000;
    --bg-secondary: #ff38cd;
    --bg-tertiary: #fafafa;
    --bg-quaternary: #1C1B1B;
    --text-primary: #f2f2f2;
    --text-secondary: #0d0c0c;
    --hover-primary: #ffa31a;
    --hover-secondary: #00ffff;
    --accent-color: #d10034;
}

* {
    /* CSS RESETS */
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html, body {
    /* FONT SETTINGS */
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text-primary);

    /* LAYOUT SETTINGS */
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
    background: linear-gradient(145deg, var(--bg-primary) 0,var(--bg-secondary) 96%);
}

    /* SCROLLBAR SETTINGS */
body::-webkit-scrollbar {
    width: 0.20rem;
}

/*--------------------------------------------------------------*/

/* MEDIA QUERIES */

@media screen and (min-width: 770px) {
    .navbar-toggle {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .hero-greeting h1 {
        font-size: 100px;
    }
}
/*---------------------------------------------------------*/

/* NAVBAR */

.nav-screen-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.nav-screen-divider svg {
    position: relative;
    display: block;
    width: calc(151% + 1.3px);
    height: 209px;

}

.nav-screen-divider .shape-fill {
    fill: var(--bg-tertiary);
}

nav {
    padding: 35px;
    position: relative;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    height: 55px;
    width: 55px;
    cursor: pointer;
    opacity: 1;
}

.navbar-logo:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

.navbar-toggle {
    height: 55px;
    width: 55px;
    cursor: pointer;
    margin-left: 13rem;
    opacity: 1;
    fill: var(--bg-quaternary);
}

.navbar-toggle:hover {
    opacity: 0.5;
    transition: 0.5s ease;

}

.nav-link {
    text-decoration: none;
}

.link-text {
    font-size: 14px;
}

/*------------------------------------------------*/

/* HERO SECTION */

#hero-section {
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    /*border: solid black; /*delete this*/
}

.hero-greeting {
    padding-bottom: 5rem;
}

.hero-greeting h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 4rem;
    padding: 5px;
    border-bottom: solid var(--bg-tertiary) 2px;
}

.hero-greeting h2 {
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1rem;
    color: var(--text-primary);
}

.hero-greeting button {
    width: 130px;
    height: 30px;
    border-radius: 25px;
    border: solid var(--bg-tertiary) 2px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--bg-quaternary);
    outline: none;
    margin-top: 2px;
}

.hero-greeting button:hover {
    background: linear-gradient(to left, var(--hover-primary) 50%, var(--bg-quaternary) 50%) right;
    background-size: 200%;
    background-position: -200%;
    transition: 0.8s ease-in-out;
}

.hero-screen-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.hero-screen-divider svg {
    position: relative;
    display: block;
    width: calc(195% + 1.3px);
    height: 130px;
}

.hero-screen-divider .shape-fill {
    fill: var(--bg-tertiary);
}

/*----------------------------------------------------*/

/* ABOUT SECTION */

#about-section {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    overflow: hidden;
    background: var(--bg-tertiary);
    color: var(--text-secondary);

    /*border: solid azure; /*delete this*/
}

.intro-text {
    flex-flow: column wrap;

    /*border: solid gold; /*delete this */
}

.intro-text h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 3.5rem;
    word-spacing: 0px;
    text-align: center;
}

.intro-text p {
    font-size: 1.1rem;
    font-weight: 500;
    /*border: solid gold; /*delete this */
    padding-top: 1.5rem;
    line-height: 1.7rem;
    word-spacing: 1px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.intro-utd-link {
    color: var(--accent-color);
    text-decoration: none;
}

.intro-utd-link:hover {
    transition: 3s ease;
    text-decoration: underline var(--utd-color);
}
/*-----------------------------------------------*/
.skills-container {
    margin: 0rem 1.7rem 0rem 1.7rem;
}

.intro-skills {
    display: flex;
    flex-flow: column;
    align-text: center;
}

.intro-skills h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 3.5rem;
    word-spacing: 0px;
    margin-top: 4rem;
    text-align: center;
}

.skills-icons {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.skills-icons li {
    opacity: 0.5;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 1rem;
}

.skills-icons li:hover {
    opacity: 1; !important;
}

/* ------------------------------------ */

/* PROJECTS SECTION*/

#projects-section {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    overflow: hidden;
    background: var(--bg-tertiary);
    color: var(--text-secondary);

}

.intro-container {
    margin: 3rem 1.3rem 3rem 1.3rem;
}

.projects h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 3.5rem;
    word-spacing: 0px;
    margin-top: 4rem;
    text-align: center;
}

.intro-design-link {
    color: var(--accent-color);
    text-decoration: none;
}