@import url('../../index.css');

/*=================== Mobile Navbar Styles ===================*/
.contact {
  min-height: 50vh; 
  display: flex;
  padding: 15vh 1rem 0 1rem;
  justify-content: center;
  background-color: var(--secondary-bg-color);

}

.contact__container {
  text-align: center;
  max-width: 800px;
}

.contact__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
    text-decoration-line: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 19px;
    margin-top: -2rem;
}

.contact__socials__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.contact__socials__item {
    padding: 1rem;
    height: 100px;
    width: 100px;
}

.contact__socials__item:hover {
    transform:scale(1.2);
    transform:rotate(360deg) scale(1.5);
    transition: ease 0.4s;
}

@media (min-width: 768px){
  .contact{
      min-height: 60vh;
  }
}