@import url('../../index.css');

/*=================== Mobile Navbar Styles ===================*/

.experience {
    min-height: 100vh; 
    display: flex;
    padding: 10vh 1rem 0 1rem;
}

.experience__container {
    text-align: center;
    max-width: 800px;
    flex-direction:column;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-weight: var(--font-normal);
}

.experience__title {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
    text-decoration-line: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 19px;
}

.experience__job__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-image: linear-gradient(-45deg, #254357, #382c64);
    border-radius: 8px;
    padding: 1rem;
}

.experience__job__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.05rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 12%);
    border: 1px solid var(--primary-color);
    
}

.experience__job__item {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    background-image: linear-gradient(-45deg, #254357, #382c64);
    --border: 1px solid var(--text-color);
}

.experience__job__company {
    font-size: 1.5rem;
    font-weight: var(--font-semibold);
    margin-bottom: 1rem;
    color: var(--title-color);
}

.experience__job__title {
    font-size: 1.2rem;
    font-weight: var(--font-medium);
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.experience__job__description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    opacity: 0.9;
    align-items: left;
}

.experience__job__duration {
    font-size: 0.9rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.experience__job__project__list {
    list-style: lower-roman;
    list-style-position: inside;
}

.experience__job__project__list li{
    margin-bottom: 0.7rem;
}
@media (min-width: 768px) {
    
}